/* 
colors used:
primary (teal) #00B4B4 (0,180,180)
secodary (pink) #F991AD (249,145, 173)

primary darker  #008282 (0,130,130)
secondary dark  #F33A6D (243, 58, 109)
*/


			code {
				color:#00B4B4;
				background-color: #ffffff;
            }
            img {
                width: 100%;
                }
                * {
                    box-sizing: border-box;
                }
            body {
                    background-color: #ffffff;
                    font-family: 'Lato', sans-serif;
                    font-size: 16px; /* Sets the font size to 16px */
                    font-weight: 300; /* Sets the font weight to 300 */
                    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
                    color: #4a4a4a;
                    }
                    h1, h2, h3, h4 {
                    line-height: 1.4;
                    }
                    h1 {
                    font-size: 2.75em;
                    font-weight: 700;
                    }
                    h2 {
                    font-size: 2.25em;
                    font-weight: 700;
                    }
                    h3 {
                    font-size: 1.75em;
                    font-weight: 400;
                    }
                    h4 {
                    font-size: 1.35em;
                    font-weight: 400;
                    }
                    a {
                        color: #00B4B4;
                        text-decoration: none; /* No underlining */
                        }
                    a:hover {
                        color:#008282;
                        text-decoration: underline; /* Underlining when hovering over a link */
                        }
                    a:visited { /* visited link */
                            color: #008282;
                            }
                    a:active { /* selected link */
                            color: #F33A6D;
                            }
                    a:hover,
                    a:focus {
                            color:#008282;
                            text-decoration: underline;
                            }
                    .button {
                                display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
                                background-color: #00B4B4;
                                color: #ffffff; /* needed to override the default link color */
                                font-weight: 400;
                                padding: 10px;
                                border-radius: 3px;
                                border-bottom: 2px solid #ffffff; /* width of the border, type, color */
                                transition: 0.2s opacity;
                            }
                            
                    .button:hover {
                                opacity: 0.7; /* Reduces the opacity of the button to 70% */
                                text-decoration: none;
                                }
                    .button.contact {
                                background-color: #ffffff;
                                color: #00B4B4;
                                text-transform: uppercase;
                                border: 2px solid #00B4B4;
                            }
                    .button.contact:hover {
                                background-color: #00B4B4;
                                color: #ffffff;
                            }
                /* Layout styling */
                .container {
                    padding: 0 15px;
                }
                .row {
                    margin: 25px 0; /* 25px top and bottom, 0 left and right */
                }
                        
                #hero h1 {
                    text-align: center; /* Centers text */
                }
                .logo {
                    max-width: 250px;
                    display: inline-block;
                }
                .behance {
                    max-width: 75px;
                    height:auto;
                }
                .linkedin {
                    max-width: 75px;
                    height: auto;
                }


                /*header*/
                header {
                    text-align: unset;
                    position: fixed; 
                    background-color: #ffffff;
                    padding: 10px 0; 
                    width: 100%
                }
                nav > ul {
                    list-style-type: none;
                    padding: 0;
                    text-align: unset;
                    
                }
                nav > ul > li {
                    display: inline-block;
                    text-align: unset;
                    
                }
                nav > ul > li > a {
                    padding: 0 15px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #4a4a4a;
                    text-align: unset;
                }
            /*media queries*/
            /*mediium screen*/
            @media only screen and (min-width: 640px) {
                header {
                    text-align: unset;
                    padding: 20px 0 13px;
                    }
                nav {
                    width: auto;
                    float: right;
                    margin-top: 4px;
                }
                body {font-size: 18px;}   
                #hero {text-align:center;} 
                #hero span {display: block;}
                .col-md-6 {width: 50%;}
                        [class*="col-"] {float: left;
                                padding: 10px}
                .row::after {
                    content: '';
                    clear: both;
                    display: table;}
            }

            /*large screen*/
            @media only screen and (min-width: 1024px)
                {.col-lg-7 {width: 58.3%;}
                        [class*="col-"] {float: left;
                        padding: 10px}
                .col-lg-5 {width: 41.6% }
                .row::after {
                    content: '';
                    clear: both;
                    display: table;}
                .container 
                    {max-width: 1200px;
                    margin-left: auto;
                    margin-right: auto; }
                }
            /*X-large screen*/
            @media only screen and (min-width: 1440px) {
            }
            
            /*animation*/
            @keyframes color-change {
                from {fill: #edc655;}
                to {fill: #f76414;}
            }
            
            @keyframes cloud-move {
                from {transform: translate(0,50px);}
                to {transform: translate(200px,50px);}}  

            @keyframes cloud-move-reverse {
                from {transform: translate(446px,48px);}
                to {transform: translate(100px, 48px);}}   
            
                
            .berlin-illustration
                {width:100%; max-width:100%; height: auto;}
            .sun 
                {
                    animation-duration: 4s;
                    animation-name: color-change;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    animation-timing-function: linear;
                }

            .cloud-front {
                        animation-duration: 30s;
                        animation-name: cloud-move;
                        animation-iteration-count: infinite;
                        animation-direction: alternate;
                        animation-timing-function: linear;
                    }

            .cloud-back {
                        animation: 34s cloud-move-reverse infinite alternate linear;
                    }
            

